.banner-text {
    background-color: hsla(0, 0%, 100%, .65);
    width: 900px;
    padding: 25px;
    border-radius: 25px;
}

.banner-text h2 {
    font-family: 'Lemonada', cursive;
}

.details-btn {
    border: 3px solid #db011c;
}